/*--------------------------------------------------------------

  Template Name: Subash Ecommerce Responsive Bootstrap Template
  Description: This is html5 template
  Author: codecarnival
  Version: 1.0
  Design and Developed by: codecarnival

Note: This is the file where you can add your custom styles to change the look of the theme. But don't modify "style.css" file.

---------------------------------------------------------------*/

/* ----------------------------------------------------
	You can put your custom css code here: 
-------------------------------------------------------*/

.slide-img-override{
    position: relative !important;
}

/* Customer service button */
.cs-main-page-button{
    position: fixed;
    right: 85px;
    bottom: 8px;
    z-index: 999;
    padding: 10px 20px;
    color: #fff;
    font-weight: 800;
    border-radius: 9px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.28);
    background-color: #e1273c;
    transition: all 0.5s ease;
}

.related-see-product {
    width: 77%;
}

.active-related-product .slick-slide {
    /*width: 300px !important;*/
}

.landing-page .related-see-product {
    display: inline-block;
}

.customer-service .cs-main-page-button{
    display: none;
}

.related-see-product {
    color: white;
    text-transform: uppercase;
    padding-top: 5px;
}

.cs-main-page-button:hover{
    opacity: 0.7;
}

.slider-area.slider-2 {
    overflow: hidden;
}

.bottom-triangle {
    width: 103%;
    height: 150px;
    position: absolute;
    bottom: -94px;
    background: #efedee;
    z-index: 7;
    /*box-shadow: 0px 0px 1px 1px rgba(0,0,0,.1);*/
    transform: rotateZ(-4deg);
}

@media (min-width: 768px) and (max-width: 1150px) {
  .bottom-triangle {
      display: none;
  }  
}

.shop-section{
    min-height: 60vh;
}

.cart-container {
    width: 100%;
}

.slick-arrow {
    opacity: 1 !important;
    visibility: visible !important;
}

.add-button span{
    padding: 8px 30px !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

input.cart-plus-minus-box {
    border-bottom: 1px solid #c5c5c5;
    width: 30%;
}

.continue-shopping {
    float: right;    
}

.actions-row{
    padding-right: 70px !important;
}

.cancel-order-container{
    display: inline-block;
    width: 140px;
    margin-right: 10px;
}

.reship-order-container{
    display: inline-block;
    width: 150px;
}

@media (max-width: 300px) {
    .cancel-order-container{
        width: 150px;
        margin-right: 0px;
    }
}

@media (max-width: 520px) {
    .actions-row{
        padding-right: 5px !important;
    }
}

@media (min-width: 767px) {
    .mobile-name {
        display: none;
    }
    .table-content table tr td.product-quantity {
        padding: 20px 0;
    }
    .nivoSlider {
        height: 580px;
    }
}

@media (max-width: 767px) {
    .cart-container .table-content thead {
        display: none;
    }
    .cart-container .table-content td {
        display: block;
    }
    .cart-container .product-thumbnail {
        width: 100%;
    }
    .mobile-name, .mobile-item {
        display: inline-block;
    }
    .mobile-name {
        font-weight: normal;
        font-size: 14px;
        width: 50%;
        float: left;
    }
    .mobile-item {
        width: 50%;
    }
    .table-content table tr td.product-thumbnail {
        padding: 10px;
    }
    .product-remove a {
        display: inline-block;
    }
}

@media (min-width: 767px) and (max-width: 1099px) {
	.title-container {
		top: 33% !important;
	}
	
    /*.nivoSlider {*/
    /*    height: 450px;*/
    /*}	*/
}

@media (min-width: 1169px) and (max-width: 992px) {
    .slider-2 .title-container {
        top: 43%;
    }
}

@media (min-width: 1100px){
    .layer-1-1 img {
        padding-top:80px;
    }
}

@media (min-width: 1300px){
	.layer-1-1 img {
   		 width: 35%;
    }
}

@media (min-width: 1500px){
	.bottom-triangle {
		transform: rotateZ(-2deg);
	}

    .layer-1-1 img {
        padding-top: 20px;
	    width: 510px;
    }
}