.footer-top .container-fluid {
  padding: 0;
}

.footer-area a {
    color: #878787;
}

.footer-area .footer-padding {
    padding-top: 50px;
    padding-bottom: 45px;
}

.footer-area.header-fixed .footer-padding{
    padding-bottom: 165px !important;
}

.footer-area .heading {
    color: #878787;
    margin-bottom: 15px;
    white-space: nowrap;
}

.footer-area .info-links {
    width: 280px;
}

.footer-social div a {
    color: #878787 !important;
    float: left;
    font-size: 27px;
    border: none !important;
}

.footer-social-container, .footer-payment-container {
    text-align: center;
}

.footer-policy-container {
    text-align: right;
    padding-right: 3.5%;
}

@media (max-width: 767px) {

    .footer-area .footer-padding {
        padding-top: 15px;
        padding-bottom: 70px;
    }

    .footer-area .info-links {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer-social {
        display: flex;
        justify-content: center;
        margin-bottom:30px;
    }

    .footer-info-container {
        text-align: center;
        margin-bottom: 25px;
    }
    
    .footer-info-container a {
        display: block;
        font-size: 18px  
    }

    .footer-payment-container {
        margin-bottom: 30px;
    }

    .footer-policy-container {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .footer-area {
        font-size: 65% !important;
    }
    .footer-policy-container {
        font-size: 13px !important;
    }
}