/*-----------------------------------------------------------------------------------

  Template Name: Subash Ecommerce Responsive Bootstrap Template
  Description: This is html5 template
  Author: codecarnival
  Version: 1.0
  Design and Developed by: codecarnival

-----------------------------------------------------------------------------------*/
.theme-bg {background: #6454EF;}
.blog-item .blog-desc {
  background: rgba(255, 127, 0, 0.95) none repeat scroll 0 0;
}
.mark, mark {
  background: #6454EF none repeat scroll 0 0;
}
.mean-container .mean-nav ul li a:hover {
  color: #6454EF;
}
textarea:focus {
  border-color: #fcab5b;
}
.up-comming-time .time-count {
  border: 1px solid #fcab5b;
}
.contact-address:hover i {
  background: #6454EF none repeat scroll 0 0;
}
span.tooltip-content {
  color: #6454EF;
}
a.button {
  background: #6454EF;
}
.pro-tab-menu ul li.active a {
  border-bottom: 1px solid #6454EF;
}
.nivo-controlNav a.active {
  background: #6454EF none repeat scroll 0 0;
}
.submit-btn-1 {
  background: #6454EF;
}
.header-search-inner::before {
  background: #6454EF none repeat scroll 0 0;
}
input[type="text"]:focus,
input[type="password"]:focus {
  border: 1px solid #6454EF;
}
/*default*/
a:focus,
a:hover {
    color: #6454EF;
    text-decoration: none;
}
.text-theme { color: #6454EF; }
.btn-hover-2::before {
  background: #6454EF none repeat scroll 0 0;
}
.slick-arrow-1 .slick-arrow:hover {
  color: #6454EF;
}
.slick-arrow-2 .arrow-prev.slick-arrow:hover, .slick-arrow-2 .arrow-next.slick-arrow:hover {
  color: #6454EF;
  border-color: #6454EF;
}
.slick-arrow-3 .arrow-prev.slick-arrow:hover, .slick-arrow-3 .arrow-next.slick-arrow:hover {
  color: #6454EF;
}
.slick-dots-1 .slick-dots li.slick-active {
  background: #6454EF;
}
.quick-add-to-cart .single_add_to_cart_button:hover {
  background: #6454EF none repeat scroll 0 0;
}
#scrollUp:hover {
  background: #6454EF none repeat scroll 0 0;
}
/*header*/
.main-menu > li:hover > a{
  color: #6454EF;
} 
.dropdwn > li:hover > a{
  color: #6454EF;
}
.main-menu > li > a::before, .dropdwn li a::before, .single-mega-item li a::before {
  background: #6454EF none repeat scroll 0 0;
}
.single-mega-item > li:hover > a{
  color: #6454EF;
} 
.sticky .main-menu > li:hover > a{
  color: #6454EF;
}
.total-cart-in:hover .cart-toggler > a {
  color: #6454EF;
}
.del-icon > a:hover > i {
  color: #6454EF;
}
.top-cart-inner.subtotal span {
  color: #6454EF;
}
.user-meta > li > ul > li > a:hover {
  color: #6454EF;
}
/*footer*/ 
.footer-menu li:hover a, .footer-menu li:hover a i {
  color: #6454EF;
}
.border-left::before {
  background: #6454EF none repeat scroll 0 0;
}
.copyright-text p a:hover {
  color: #6454EF;
}
.footer-menu-2 li::before {
  background: #6454EF none repeat scroll 0 0;
}
/*Theme */
.pro-rating a {
  color: #6454EF;
}
.action-button > li:hover > a {
  background: #6454EF;
  border-color: #6454EF;
}
.banner-button a:hover {
  color: #6454EF;
}
.product-item-2 .action-button > li:hover > a {
  color: #6454EF;
}
.pro-tab-menu-2 ul li.active::before {
  background: #6454EF none repeat scroll 0 0;
}
.breadcrumb-list > li:hover::before {
  color: #6454EF; 
}
.breadcrumb-list > li:hover > a {
  color: #6454EF;
}
.shop-tab li.active a {
  color: #6454EF;
}
.shop-pagination > li.active a,
.shop-pagination > li:hover a {
  border-color: #6454EF;
  color: #6454EF;
}
.widget-search button:hover {
  color: #6454EF;
}
.product-cat .treeview .collapsable > a {
  color: #6454EF;
}
.ui-slider .ui-slider-range {
  background: #6454EF none repeat scroll 0 0;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #6454EF none repeat scroll 0 0;
}
.widget-color ul li::before {
  background: #6454EF none repeat scroll 0 0;
}
.p-c a.active img {
  border: 1px solid #6454EF;
}
.cart-tab li a.active {
  color: #6454EF;
}
.cart-tab li a.active span {
  border: 1px solid #6454EF;
}
.product-remove a:hover {
  color: #6454EF;
}
.product-add-cart a:hover {
  color: #6454EF;
}
.order-total {
  color: #6454EF;
}
.order-total-price {
  color: #6454EF;
}
.widget-tags-list li:hover a {
  color: #6454EF;
}
.blog-like-share li a:hover {
  color: #6454EF;
}
.reply-delate li:hover a {
  color: #6454EF;
}
.bg-shape:hover:before {
 background: #6454EF none repeat scroll 0 0;
}